<script>
window.onload = function() {
/**
 * Module to ajaxify all add to cart forms on the page.
 *
 * Copyright (c) 2015 Caroline Schnapp (11heavens.com)
 * Dual licensed under the MIT and GPL licenses:
 * http://www.opensource.org/licenses/mit-license.php
 * http://www.gnu.org/licenses/gpl.html
 *
 */
Shopify.AjaxifyCart = (function($) {

  // Some configuration options.
  // I have separated what you will never need to change from what
  // you might change.

  var _config = {

    // What you might want to change
    addToCartBtnLabel:             'Add to cart',
    addedToCartBtnLabel:           'Thank you!',
    addingToCartBtnLabel:          'Adding...',
    soldOutBtnLabel:               'Sold Out',
    howLongTillBtnReturnsToNormal: 1000, // in milliseconds.
    cartCountSelector:             '#CartCount',
    cartTotalSelector:             '#cart-price',
    // 'aboveForm' for top of add to cart form,
    // 'belowForm' for below the add to cart form, and
    // 'nextButton' for next to add to cart button.
    feedbackPosition:              'nextButton',

    // What you will never need to change
    addToCartBtnSelector:          '[type="submit"]',
    addToCartFormSelector:         'form[action="/cart/add"]',
    shopifyAjaxAddURL:             '/cart/add.js',
    shopifyAjaxUpdateURL:          '/cart/update.js',
    shopifyAjaxCartURL:            '/cart.js',

    cartFormUpdateSelector:        '.cart-aside__body form [type=submit][name=update]',
    cartFormRemoveProductSelector:        '.cart-aside__body form .cart__remove',
    cartFormSelector:              '.cart-aside__body form',
  };

  // We need some feedback when adding an item to the cart.
  // Here it is.
  var _showFeedback = function(success, html, $addToCartForm) {
    $('.ajaxified-cart-feedback').remove();
    var feedback = '<p class="ajaxified-cart-feedback ' + success + '">' + html + '</p>';
    switch (_config.feedbackPosition) {
      case 'aboveForm':
        $addToCartForm.before(feedback);
        break;
      case 'belowForm':
        $addToCartForm.after(feedback);
        break;
      case 'nextButton':
      default:
        $addToCartForm.find(_config.addToCartBtnSelector).after(feedback);
        break;
    }
    // If you use animate.css
    // $('.ajaxified-cart-feedback').addClass('animated bounceInDown');
    $('.ajaxified-cart-feedback').slideDown();
  };
  var _setText = function($button, label) {
    if ($button.children().length) {
      $button.children().each(function() {
        if ($.trim($(this).text()) !== '') {
          $(this).text(label);
        }
      });
    }
    else {
      $button.val(label).text(label);
    }
  };
  var _generateTableColumn = function (columnClass, productCartData, idx) {
    var $td = $('<td />', { class: columnClass });

    switch (columnClass) {
      case 'cart__image-wrapper':
        $img = $('<img />', {
          class: 'cart__image',
          src: productCartData.image,
          'data-item-url': productCartData.url,
          alt: productCartData.product_title
        })
        $div = $('<div />')
        $div.append($img);
        $td.append($div);
        break;

      case 'cart__meta':
        // Title
        $title = $('<div />', { class: 'list-view-item__title' })
        $link = $('<a />', {
          href: productCartData.url,
          text: productCartData.product_title
        });
        $accessibleQuantity = $('<span />', {
          class: 'medium-up--hide',
          text: ' (x' + productCartData.quantity + ')'
        });

        $link.append($accessibleQuantity);
        $title.append($link);

        // Actions
        $actions = $('<p />', { class: 'small--hide' });
        $actionLink = $('<a />', {
          class: 'btn btn--small btn--tertiary cart__remove',
          'aria-label': 'Remove ' + productCartData.product_title,
          href: '/cart/change?line=' + idx + '&quantity=0',
          text: 'Remove'
        })
        $actions.append($actionLink);

        // Append to td
        $td.append($title);
        $td.append($actions);
        $td.addClass('small--text-left');
        break;

      case 'cart__price-wrapper':
        var currencyData = theme.Currency.formatMoney(productCartData.discounted_price)
        var $price = $('<span />', {
          html: currencyData
        });

        var $cartActions = $('<div />', { class: 'cart__edit medium-up--hide' });
        var $cartActionsButton = $('<button>', {
          class: 'btn btn--secondary btn--small js-edit-toggle cart__edit--active',
          type: 'button',
          'data-target': 'line' + idx,
          'aria-label': 'Edit ' + productCartData.product_title,
          'aria-expanded': false
        });

        var $edit = $('<span />', {
          class: 'cart__edit-text--edit',
          text: 'Edit'
        });
        var $cancel = $('<span />', {
          class: 'cart__edit-text--cancel',
          text: 'Cancel'
        });

        $td.append($price);

        $cartActionsButton.append($edit)
        $cartActionsButton.append($cancel)
        $cartActions.append($cartActionsButton)
        $td.append($cartActions)
        break;

      case 'cart__quantity-wrapper':
        $qty = $('<div />', {
          class: 'cart__qty'
        });
        $label = $('<label />', {
          class: 'cart__qty-label',
          text: 'Quantity',
          for: 'updated_large_' + productCartData.key
        });
        $input = $('<input />', {
          class: 'cart__qty-input',
          type: 'number',
          name: 'updates[]',
          id: 'updated_large_' + productCartData.key,
          value: productCartData.quantity,
          min: 0,
          pattern: '[0-9]*',
          'data-quantity-item': idx
        });
        $qty.append($label);
        $qty.append($input);
        $td.append($qty);
        $td.addClass('text-right small--hide');
        break;

      case 'cart__total':
        $totalPrice = $('<div />', {
          html: theme.Currency.formatMoney(productCartData.line_price)
        });
        $td.append($totalPrice);
        $td.addClass('text-right small--hide');
        break;
    }

    return $td;
  };
  var _generateTableProductRow = function (productCartData, idx) {
    var rowIdx = idx + 1
    var rowClassName = rowIdx === 1
      ? 'cart__row border-bottom border-top line' + rowIdx
      : 'cart__row border-bottom line' + rowIdx;
    var $tr = $('<tr />', {
      class: rowClassName,
      'data-product-variant-id': productCartData.variant_id
    });
    var columnClasses = [
      'cart__image-wrapper',
      'cart__meta',
      'cart__price-wrapper',
      'cart__quantity-wrapper',
      'cart__total'
    ];

    columnClasses.map(function (columnClass) {
      var $td = _generateTableColumn(columnClass, productCartData, rowIdx)
      $tr.append($td)
    })

    return $tr;
  };
  var _generateTableActionsRow = function (productCartData, idx) {
    var rowIdx = idx + 1;

    var $tr = $('<tr />', {
      class: 'medium-up--hide cart__update-wrapper',
      'data-product-variant-id': productCartData.variant_id
    });

    var $td = $('<td />', {
      class: 'text-right',
      colspan: 3
    })

    var $controls = $('<div />', { class: 'cart__update-controls' });

    var $removeBtn = $('<a />', {
      class: 'btn btn--small btn--tertiary cart__remove medium-up--hide cart__update-control',
      href: '/cart/change?line=' + rowIdx + '&quantity=0',
      'aria-label': 'Remove ' + productCartData.product_title,
      text: 'Remove'
    });

    var $qty = $('<div />', {
      class: 'cart__qty cart__update-control'
    });
    var $label = $('<label />', {
      for: 'updated_' + productCartData.key,
      class: 'cart__qty-label',
      text: 'Quantity'
    });
    var $input = $('<input />', {
      class: 'cart__qty-input',
      type: 'number',
      id: 'updated_' + productCartData.key,
      value: productCartData.quantity,
      min: 0,
      pattern: '[0-9]*',
      'data-quantity-item': rowIdx
    });

    var $updateBtn = $('<button />', {
      class: 'btn btn--small medium-up--hide cart__update-control',
      name: 'update',
      type: 'submit',
      'aria-label': 'Update ' + productCartData.product_title,
      text: 'Update'
    });

    $qty.append($label).append($input);
    $controls.append($removeBtn).append($qty).append($updateBtn);

    $td.append($controls);
    $tr.append($td);
    return $tr;
  };
  var _getCartData = function () {
    var $cartForm = $(_config.cartFormSelector), payload = {};

    $cartForm.find('tr.cart__row').each(function (idx, row) {

      var id = $(row).attr('data-product-variant-id');
      var qty = $(row).find('input.cart__qty-input').val();
      payload[Number(id)] = Number(qty);
    });

    return payload;
  };
  var _renderCart = function (data) {
    var $cartForm = $(_config.cartFormSelector),
      $tbody = $cartForm.find('table > tbody'),
      $cartNoContentBlock = $('.cart__no-content');

    // Clear cart
    $tbody.html('');

    if (data && data.items.length) {
      $cartForm.removeClass('visually-hidden');
      $cartNoContentBlock.addClass('visually-hidden');

      // Fill table
      data.items.map(function (item, rowIdx) {
        var tableProductRow = _generateTableProductRow(item, rowIdx);
        var tableActionsRow = _generateTableActionsRow(item, rowIdx);

        $tbody.append(tableProductRow)
        $tbody.append(tableActionsRow)
      })

      // Update subtotal
      var subtotalPrice = theme.Currency.formatMoney(data.total_price)
      $('.cart__subtotal').html(subtotalPrice)
    } else {
      $cartForm.addClass('visually-hidden')
      $cartNoContentBlock.removeClass('visually-hidden')
    }

    $(window).trigger('update-cart-actions');
    $(window).trigger('cart-open');
  };
  var _updateCart = function (payload, productToRemove) {
    if (productToRemove) {
      payload[productToRemove] = 0;
    }

    $.ajax({
      url: _config.shopifyAjaxUpdateURL,
      dataType: 'json',
      type: 'POST',
      data: {
        updates: payload
      },
      success: function (data) {
        _renderCart(data)

        if (_config.cartCountSelector && $(_config.cartCountSelector).size()) {
          var value = $(_config.cartCountSelector).html() || '0';
          $(_config.cartCountSelector).html(value.replace(/[0-9]+/,data.item_count)).removeClass('hidden-count');
        }
      }
    })
  };
  var _handleUpdateCart = function (e) {
    e.preventDefault();

    var payload = _getCartData();
    _updateCart(payload);
  };
  var _handleRemoveProduct = function (e) {
    e.preventDefault();

    var productId = $(this).closest('tr').attr('data-product-variant-id');
    var payload = _getCartData();

    _updateCart(payload, productId);
  }
  var _init = function() {
    $(document).ready(function() {
      $(_config.addToCartFormSelector).submit(function(e) {
        e.preventDefault();
        var $addToCartForm = $(this);
        var $addToCartBtn = $addToCartForm.find(_config.addToCartBtnSelector);
        _setText($addToCartBtn, _config.addingToCartBtnLabel);
        $addToCartBtn.addClass('disabled').prop('disabled', true);
        // Add to cart.
        $.ajax({
          url: _config.shopifyAjaxAddURL,
          dataType: 'json',
          type: 'post',
          data: $addToCartForm.serialize(),
          success: function(itemData) {
            // Re-enable add to cart button.
            $addToCartBtn.addClass('inverted');
            _setText($addToCartBtn, _config.addedToCartBtnLabel);
            _showFeedback('success','<i class="fa fa-check"></i> Added to cart!<br><a href="/cart">View cart</a> or <a href="/collections/all">continue shopping</a>.',$addToCartForm);
            window.setTimeout(function(){
              $addToCartBtn.prop('disabled', false).removeClass('disabled').removeClass('inverted');
              _setText($addToCartBtn,_config.addToCartBtnLabel);
            }, _config.howLongTillBtnReturnsToNormal);
            // Update cart count and show cart link.
            $.getJSON(_config.shopifyAjaxCartURL, function(cart) {
              if (_config.cartCountSelector && $(_config.cartCountSelector).size()) {
                var value = $(_config.cartCountSelector).html() || '0';
                $(_config.cartCountSelector).html(value.replace(/[0-9]+/,cart.item_count)).removeClass('hidden-count');
              }
              if (_config.cartTotalSelector && $(_config.cartTotalSelector).size()) {
                if (typeof Currency !== 'undefined' && typeof Currency.moneyFormats !== 'undefined') {
                  var newCurrency = '';
                  if ($('[name="currencies"]').size()) {
                    newCurrency = $('[name="currencies"]').val();
                  }
                  else if ($('#currencies span.selected').size()) {
                    newCurrency = $('#currencies span.selected').attr('data-currency');
                  }
                  if (newCurrency) {
                    $(_config.cartTotalSelector).html('<span class=money>' + theme.Currency.formatMoney(Currency.convert(cart.total_price, "{{ shop.currency }}", newCurrency), Currency.money_format[newCurrency]) + '</span>');
                  }
                  else {
                    $(_config.cartTotalSelector).html(theme.Currency.formatMoney(cart.total_price, "{{ shop.money_format | remove: "'" | remove: '"' }}"));
                  }
                }
                else {
                  $(_config.cartTotalSelector).html(theme.Currency.formatMoney(cart.total_price, "{{ shop.money_format | remove: "'" | remove: '"' }}"));
                }
              };

              _renderCart(cart)
            });
          },
          error: function(XMLHttpRequest) {
            var response = eval('(' + XMLHttpRequest.responseText + ')');
            response = response.description;
            if (response.slice(0,4) === 'All ') {
              _showFeedback('error', response.replace('All 1 ', 'All '), $addToCartForm);
              $addToCartBtn.prop('disabled', false);
              _setText($addToCartBtn, _config.soldOutBtnLabel);
              $addToCartBtn.prop('disabled',true);
            }
            else {
              _showFeedback('error', '<i class="fa fa-warning"></i> ' + response, $addToCartForm);
              $addToCartBtn.prop('disabled', false).removeClass('disabled');
              _setText($addToCartBtn, _config.addToCartBtnLabel);
            }
          }
        });
        return false;
      });

      $(document).on('click', _config.cartFormUpdateSelector, _handleUpdateCart)
      $(document).on('click', _config.cartFormRemoveProductSelector, _handleRemoveProduct)

    });
  };

  return {
    init: function(params) {
        // Configuration
        params = params || {};
        // Merging with defaults.
        $.extend(_config, params);
        // Action
        $(function() {
          _init();
        });
    },
    getConfig: function() {
      return _config;
    }
  }
})(jQuery);

Shopify.AjaxifyCart.init();
  }
</script>

{% comment %}
  If you want to animate your feedback message.
{% endcomment %}

{% comment %}
{{ '//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.0/animate.min.css' | stylesheet_tag }}
{% endcomment %}

{{ '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' | stylesheet_tag }}

<style>
.ajaxified-cart-feedback {
  display: block;
  line-height: 36px;
  font-size: 90%;
  vertical-align: middle;
}
.ajaxified-cart-feedback.success {
  color: #3D9970;
}
.ajaxified-cart-feedback.error {
  color: #FF4136;
}
.ajaxified-cart-feedback a {
  border-bottom: 1px solid;
}
</style>
