<div class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">
  <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url | within: collection }}">
    <span class="visually-hidden">{{ product.title }}</span>
  </a>

  {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
  {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
  {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}



  <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js">
    <img id="{{ img_id }}"
            class="grid-view-item__image lazyload"
            src="{{ product.featured_image | img_url: '350x' }}"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
            data-aspectratio="{{ product.featured_image.aspect_ratio }}"
            data-sizes="auto"
            alt="">
  </div>

  <noscript>
    {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
    <img class="grid-view-item__image" src="{{ product.featured_image.src | img_url: image_size, scale: 2 }}" alt="{{ product.featured_image.alt }}" style="max-width: {{ max_height | times: product.featured_image.aspect_ratio }}px;">
  </noscript>

  <div class="product-card__body">
  
    {% for collection in product.collections %}
    	{% if collection.image %}
    		<div class="product-card__collection-image">
    			<img class="" src="{{ collection.image | img_url: '120px' }}" />
    		</div>
    	{% endif %}
	{% endfor %}
  	<div class="h4 grid-view-item__title product-card__title" aria-hidden="true">{{ product.title }}</div>
    <div class="product-card__description">{{ product.metafields.info.shortdesc }}</div>
    
    {% include 'product-price', variant: product %}
    
    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>


    {% form 'product', product, class:form_classes, novalidate: 'novalidate' %}
    {% unless product.has_only_default_variant %}
    {% for option in product.options_with_values %}
    <div class="selector-wrapper js product-form__item">
      <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
        {{ option.name }}
      </label>
      <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
        {% for value in option.values %}
        <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
    {% endfor %}
    {% endunless %}

    <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
      {% for variant in product.variants %}
      {% if variant.available %}
      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
        {{ variant.title }}
      </option>
      {% else %}
      <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
      {% endif %}
      {% endfor %}
    </select>

    {% if section.settings.show_quantity_selector %}
    <div class="product-form__item product-form__item--quantity">
      <label for="Quantity-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
      <input type="number" id="Quantity-{{ section.id }}" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*">
    </div>
    {% endif %}
    <div class="product-form__item product-form__item--submit{% if section.settings.enable_payment_button %} product-form__item--payment-button{% endif %}{% if product.has_only_default_variant %} product-form__item--no-variants{% endif %}">
      <button type="submit" name="add" id="AddToCart-{{ section.id }}" {% unless product.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}">
        <span id="AddToCartText-{{ section.id }}">
          {% unless product.available %}
          {{ 'products.product.sold_out' | t }}
          {% else %}
          {{ 'products.product.add_to_cart' | t }}
          {% endunless %}
        </span>
      </button>
      {% if section.settings.enable_payment_button %}
      {{ form | payment_button }}
      {% endif %}
    </div>
    {% endform %}
  </div>
        
</div>
